#titolo{
    color: white;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}

body{
    background: linear-gradient(red, yellow, green);
}

#sea{
    font-size: 20px;
    font-family: fantasy;
    text-align: center;
}

#div1{
    text-align: center;
}

#modulo{
    text-align: center;
}

#foot{
    text-align: right;
    margin-right: auto;
    font-size: 15px;
}

#logo{
    position: absolute; 
    left: 0px;
    top: 0px;
    z-index: 0;
}

#credits{
    color: cadetblue;
}