#titolo{
    color: white;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}

html { 
  background: url("../music3.jpg");
  background-size: cover;
}

#bg{
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

BODY{
}

#premilo{
    background: none;
    border: none;
}

#searchArtists {
    /*background: url("../lupa.png") no-repeat;*/
    font-size: 15px;
    height: 40px;
    margin-right:  none;
    outline: medium none;
    padding: 0 0 0 35px;
    text-shadow: 1px 1px 0 white;
    text-align: center;
}

#sea{
    font-size: 20px;
    font-family: fantasy;
    text-align: center;
    color: antiquewhite;
}

#div1{
    text-align: center;
}

#modulo{
    text-align: center;
}

#foot{
    text-align: right;
    margin-right: auto;
    font-size: 15px;
    color: white;
}

#logo{
    z-index: 0;
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 44%;
}

#credits{
    color: wheat;
}

