/*tipo di font, altezza e posizione del titolo della home*/
#titolo{
    color: white;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}
 /*immagine che viene caricata al caricare della pagina*/
html { 
  background: url("../music3.jpg");
  background-size: cover;
}

/*posizionamento del logo della pagina*/
#id1{
    text-align: center;
    align-content: center;
}

/*posizionamento, e misura delle immagini che verrano mostrate nel div con id=id2 come una preview*/
#id2{
    align-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    float: right;
}

/*posizionamento di tutte gli oggetti con class=testingClass*/
.testingClass{
    text-align: center;
    align-content: center;
}

/*in questo modo la nota musicale del bottone e invisibile e senza bordo*/
#premilo{
    background: none;
    border: none;
}

/*font, allineamento e dimensione del font dentro della barra di ricerca*/
#searchArtists {
    /*background: url("../lupa.png") no-repeat;*/
    font-size: 15px;
    height: 40px;
    margin-right:  none;
    outline: medium none;
    padding: 0 0 0 35px;
    text-shadow: 1px 1px 0 white;
    text-align: center;
}

/*impostazioni del font del paragrafo prima del form di ricerca*/
#sea{
    font-size: 20px;
    font-family: fantasy;
    text-align: center;
    color: antiquewhite;
}

/*allineamento centrale per gli elementi dentro la form*/
#modulo{
    text-align: center;
}

/*font, allineamento e dimensione del footer per il copyright*/
#foot{
    text-align: right;
    margin-right: auto;
    font-size: 15px;
    color: white;
}

/*dimensione e margine del logo del logo della home*/
#logo{
    z-index: 0;
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 44%;
}

/*colore del font dei crediti alla fine della pagina*/
#credits{
    color: wheat;
}

