/*immagine di sottofondo*/
html{
    background: url("../crowd.jpg");
    background-size: cover;
}

/*allineamento e posizionamento degli oggetti dentro il div con class = container*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*font del titolo dell'album*/
#title{
    font-family: cursive;
}

/*font della descrizione dell'album*/
#description{
    font-family: arial;
    font-weight: bold;
}

/*allineamento e posizionamento degli oggetti dentro il div con class = col, sia la tracklist che il link per acquistare l'album*/
.col{
    float: left;
    width: 33%;
}

/*posizionamento del fieldset per la lista dei top album*/
#topAlbum{
    margin-top: 0.5cm;
    margin-right: 14px;
    margin-left: 14px;
    font-style: italic;
    font-family: serif;
}

/*posizionamento delle top ten tracks dentro il fieldset*/
#top{
    margin-top: 0.5cm;
    margin-right: 14px;
    margin-left: 14px;
}

/*posizionamento del link per l'acquisto di un'album dentro il fieldset*/
#compra{
    margin-top: 0.5cm;
    margin-right: 14px;
    margin-left: 14px;
    font-style: italic;
    font-family: serif;
}

/*font dentro il div1*/
#block1{
    font-family: arial;
    font-weight: bold;
}

/*font della lista dei top album*/
#listaTopAlbum{
    font-family: arial;
    font-weight: bold;
}

/*font della lista dei top tracks*/
#listaTopTracks{
    font-style: italic;
    font-family: bold;
    font-size: 20px;
}
